#spinner {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 999;
}
#spinner img {
	width: 200px;
	height: auto;
}
.wrapper {
	border: solid 1px #ccc;
	padding: 20px;
	position: relative;
	width: 500px;
}
button {
	width: 150px;
	padding: 10px;
	margin: 20px 40px;
}
.name:hover {
	cursor: pointer;
}
ul li {
	list-style-type: none;
	margin: 5px;
	display: flex;
	justify-content: space-between;
}
ul li span {
	width: 20%;
	text-align: right;
	padding-right: 5px;
}
ul li input {
	width: 80%;
}
span {
	margin-right: 10px;
}